body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(130, 126, 155);
    user-select: none;
}

ul {
    list-style: none;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: ;
}

li {
    display:flex;
    flex-direction: column;
    margin: 20px;
    width: 150px;
}

img {
    height: 130px;
    width: 130px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: -20px;
    border: solid 2px white;
    box-shadow: 0px 5px 10px rgb(94, 69, 126);
}

a {
    text-decoration: none;
    color: black;
    font-size: 20pt;
}