:root {
    --diceSize: 60px;
    --pipSize: 8px;
    --faceMargin: 20px;
    --shadowColour: #0a1f25;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(63, 60, 80);
    user-select: none;
    display: flex;
    flex-direction: column;
}

h2 {
    color: white;
}

#container {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.dice {
    position: relative;
    overflow: hidden;
    height: calc( var(--diceSize) + 10px );
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 3px 6px var(--shadowColour);
}

.diceFace {
    height: calc( var(--diceSize) );
    width: var(--diceSize);
    background-color: beige;
    box-shadow: 0px 0px 10px rgb(187, 156, 98) inset;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.playmatHolder {    
    box-shadow: 0px 3px 8px #041216;    
    margin: 20px;
    width:fit-content;    
    align-self: center;
}

.playmat {
    width: 300px;
    background-color: rgba(84, 109, 67, 0.76);
    padding: 20px 60px;
    order: 1;
}

.inactive>.playmat {
    filter: saturate(0) contrast(0.4)
}

.hidden {
    display: none;
}

.gameElements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lost {
    box-sizing: border-box;
    background-color: rgb(126, 37, 74);;
}

.lost .diceFace {
    color: white;
    background-color: rgb(228, 117, 163);
    box-shadow: 0px 0px 10px rgb(102, 30, 81) inset;
}

.pips {
    height: calc( var(--diceSize) - var(--faceMargin));
    width: calc( var(--diceSize) - var(--faceMargin));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-betwe;
    align-items: center;
}

.pip {
    flex-basis: 33%;
    display: flex;
    justify-content: center;
}

.pipdot {
    border-radius: 10px;
    width: var(--pipSize);
    height: var(--pipSize);
    background-color: #403C30;
}

.lost .pipdot {
    background-color: white;;
}

.empty>.pipdot {
    opacity: 0;
}

.scoreContainer {
    display: flex;
    flex-direction: column;
}

.scoreBox {
    background-color: #F5F5DC;
    box-shadow: 0px 2px 5px  var(--shadowColour);
    padding: 12px 20px 10px;
    rotate: 0.5deg;
    width: 120px;
    margin: 10px;
}

.score, .roundScore {
    font-size: 24pt;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}

.passBtn {
    width: var(--diceSize);
    height: calc(var(--diceSize) / 2);
    background-color: rgb(109, 148, 76);
    margin: 30px 0 0;
    box-shadow: 0px 2px 5px  var(--shadowColour);
    border-radius: 3px;
}

.passBtn p {
    position: relative;
    top: -12px;
    font-weight: bold;
    color: #252D21;
}

.multiOff {
    display: none;
}

/* .roundScore {
    display: none;
} */

.btn {
    background-color: white;
    border-radius: 40px;
    order: 2;
    width:fit-content;
    padding: 10px 20px 13px;
    align-self: center;
    margin: 20px;
}

#playerSelect {
    display: flex;
    justify-content: center;
}