:root {
    --diceSize: 60px;
    --pipSize: 8px;
    --faceMargin: 20px;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.dice {
    overflow: hidden;
    height: calc( var(--diceSize) + 10px );
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 10px 6px #25424b;
    user-select: none;
}

.diceFace {
    height: calc( var(--diceSize) );
    width: var(--diceSize);
    background-color: beige;
    box-shadow: 0px 0px 10px rgb(187, 156, 98) inset;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.playmat {
    width: 300px;
    background-color: rgba(84, 109, 67, 0.76);
    padding: 20px;
    box-shadow: 0px 3px 5px #25424b;
    padding: 60px;
}

.objects {
    display: none;
}

.gameElements {
    display: flex;
    justify-content: space-between;
}

.lost {
    box-sizing: border-box;
    border: solid 2px white;
}

.lost .diceFace {
    color: white;
    background-color: rgb(212, 49, 117);
    box-shadow: 0px 0px 10px rgb(102, 30, 81) inset;
}

.pips {
    height: calc( var(--diceSize) - var(--faceMargin));
    width: calc( var(--diceSize) - var(--faceMargin));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-betwe;
    align-items: center;
}

.pip {
    flex-basis: 33%;
    display: flex;
    justify-content: center;
}

.pipdot {
    border-radius: 10px;
    width: var(--pipSize);
    height: var(--pipSize);
    background-color: #403C30;
}

.lost .pipdot {
    background-color: white;;
}

.empty>.pipdot {
    opacity: 0;
}

.scoreBox {
    background-color: #F5F5DC;
    box-shadow: 0px 2px 5px  #25424b;
    padding: 6px 20px 0;
    rotate: 0.5deg;
}

.score {
    font-size: 24pt;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}