body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background: radial-gradient(transparent 0%, #302e24 140%);
    background-size: cover;
    background-size: cover;
    background-color: #7e7e7e;
    min-height: calc(100vh - 20px);
    display:flex;
    align-items: center;
    justify-content: center;
}

#instructions {
    color: #DDDDDB;
}

.hideInstructions {
    color: #AAAAA9;
}

.instrumentRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.shrink {
    animation: growBack;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.randrum {
    margin-top: 30px;
}

.hidden {
    display: none;
}

@keyframes growBack {
    from {scale: 0.8;}
    to {scale: 1.0;}
}

@media screen and (max-width: 1245px) {
    img {
        max-width: 60%;
    }

    .imageHolder {
        margin: auto -20px;
    }

    .randrum {
        margin-top: 60px;
    }

    div:has(.bigdrum) {
        order: 5;
    }

    #instructions {
        margin-bottom: 20px;
    }
}